//latest-news
.latest-news {
    margin-top: 100px;
}
.latest-news__content_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $color_1;
    h3 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
        color: $color_1;
    }
    a {
        font-size: 14px;
        color: $color_1;
        border-bottom: 1px solid $color_4;
        transition: 0.5s ease;
    }
    a:hover {
        color: $color_4;
        transform: scale3d(99%, 99%, 99%);
        transition: all ease 0.5s;
    }
}
.latest-news__item_left {
    .post__link {
        margin-right: 15px;
    }
}
.latest-news__item_right {
    .post__link {
        margin-left: 15px;
    }
}
