$color_fb: #3b5999;
$color_tw: #00b6f1;
$color_pn: #bd081c;
$color_vm: #00b3ec;
$color_yt: #ee1c1b;
$color_1: #1d1d1d;
$color_2: #ffffff;
$color_3: #787784;
$color_4: #ff5063;
$color_5: #000000;
$color_6: #515159;
$color_7: #212128;
$color_8: #27272e;
$color_9: #ffcc42;
$color_10: #393854;
$color_11: #bdbdbd;
$color_12: #ff6e7e;
$color_13: #c4cad0;
$color_14: #ebebeb;
$color_15: #737373;
//hover colors
$color_16: #923548;
$color_17: #c0bfbf;
//extra colors
$color_18: #2e2e36;
$color_19: #3a3a44;
$color_20: #ffffff94;
