@media screen and (max-width: 1199.9px) {
    footer {
        .recent-post {
            padding-right: 20px;
        }
    }
}
@media screen and (max-width: 991.9px) {
    footer {
        .upper {
            padding-top: 50px;
            padding-bottom: 50px;
            .row {
                .col-sm-12 {
                    .row {
                        .col-sm-6 {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
                .col-sm-12:first-child {
                    margin-bottom: 20px;
                }
                .col-sm-12:last-child {
                    margin-top: 20px;
                }
            }
            .recent-post,
            .recent-comments {
                padding: 0;
            }
        }
        .lower {
            padding-top: 25px;
            padding-bottom: 25px;
            .lower__title {
                text-align: center;
                margin-bottom: 10px;
            }
            .lower__info {
                margin-top: 10px;
                justify-content: center;
            }
        }
    }
}
@media screen and (max-width: 767.9px) {
    footer {
        .recent-post {
            padding-right: 20px !important;
        }
    }
}
@media screen and (max-width: 575.9px) {
    footer {
        .upper {
            padding-top: 0;
        }
        .upper__item {
            padding: 0 !important;
            margin-top: 50px;
        }
        .col-sm-12 {
            margin: 0 !important;
        }
    }
}
