.font-style-1 {
    font-family: "Courier New", arial;
}
.font-style-2 {
    font-family: "Ubuntu", sans-serif;
}
.font-style-3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
